<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Điểm_Sinh_Viên_Trường_Đại_Học_Điện_Lực.Properties.Settings.QuanLyDiemSinhVienTruongDaiHocDienLucConnectionString"
            connectionString="Data Source=DESKTOP-CCFIGBC;Initial Catalog=QuanLyDiemSinhVienTruongDaiHocDienLuc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Điểm_Sinh_Viên_Trường_Đại_Học_Điện_Lực.Properties.Settings.DiemSinhVienDienLucConnectionString"
            connectionString="Data Source=DESKTOP-CCFIGBC;Initial Catalog=DiemSinhVienDienLuc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>